{% extends "index.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">¡Congratulations!<br/>It's Installed</h1>
        <p class="lead">You've now got the Joomla! Framework installed and you're ready to get started coding. If you have questions, be sure to check out the docs.</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg" href="https://framework.joomla.org" target="_blank" role="button">Documentation</a>
    </div>

    <hr>

    <div class="row marketing">
        <div class="col-md">
            <h4>Bootstrap</h4>
            <p>This install comes preloaded with the Twitter Bootstrap package pre-installed, symlinked and ready to use.</p>

            <h4>jQuery</h4>
            <p>This install comes preloaded with the latest jQuery packages pre-installed, symlinked and ready to use.</p>

            <h4>Twig</h4>
            <p>This install comes preloaded with Twig as the templating package pre-installed and ready to use.</p>
        </div>

        <div class="col-md">
            <h4>Themes</h4>
            <p>This install has a sample theme called "Awesome". Yes, you're looking at it. Create your own theme and set as the default in config.json</p>

            <h4>Database</h4>
            <p>This install has a database setup included. (Be sure to checkout the config.json file)</p>

            <h4>Routing</h4>
            <p>This install uses a static routing file (routes.json) and also includes minor code to demo automatic routing.</p>
        </div>
    </div>
    {% if success == false %}
        <hr/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">You should setup your database now.</h5>
                <a href="#databaseModal" role="button" class="btn btn-primary" data-toggle="modal">Enter DB Settings</a>
            </div>
        </div>
        <!-- Modal -->
        <div id="databaseModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="databaseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action='{{ base_url }}dashboard/updateDatabase' method='post'>
                        <div class="modal-header">
                            <h5  id="databaseModalLabel" class="modal-title">Enter Database Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label class="col-form-label">Database Driver</label>
                                        <input type="text" name="driver" class="form-control" value="{{ config.database.driver }}" placeholder="e.g. mysql"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Database Host</label>
                                        <input type="text" name="host" class="form-control" value="{{ config.database.host }}" placeholder="e.g. localhost"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Database Name</label>
                                        <input type="text" name="name" class="form-control" value="{{ config.database.name }}" placeholder="e.g. myapp"/>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div>
                                        <label class="col-form-label">Database Table Prefix</label>
                                        <input type="text" name="prefix" class="form-control" value="{{ config.database.prefix }}" placeholder="e.g. app_"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Database User</label>
                                        <input type="text" name="user" class="form-control" value="{{ config.database.user }}" placeholder="e.g. root"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Database Password</label>
                                        <input type="password" name="password" class="form-control" value="{{ config.database.password }}" placeholder="password"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="alert alert-info" role="alert">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="1" id="install_sample_data" name="install_sample_data">
                                            <label class="form-check-label" for="install_sample_data">
                                                Install Sample Data
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button type="submit" class="btn btn-primary">Update Database</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
