{% set firstPart = uri.route|split("/")|first %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>{% block title %}Awesome{% endblock %}</title>
        <link href="{{ uri.base.path }}assets/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="{{ themePath }}css/theme.css" rel="stylesheet"/>
    </head>
    <body>

        <div class="container">

            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Joomla! Framework</a>
            
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {{ "" == uri.route or "dashboard" == firstPart ? "active" : "" }}">
                                <a class="nav-link" href="{{ uri.base.path }}">Home <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item {{ "news" == uri.route or "news" == firstPart ? "active" : "" }}">
                                <a class="nav-link" href="{{ uri.base.path }}news">Sample Page</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="https://framework.joomla.org" target="_blank">Docs</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <hr>
            
            {% block subtitle %}{% endblock %}

            {% for type, flashMessages in flashBag %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block content %}{% endblock %}
            <hr>

            <div class="footer">
                <p>&copy; Joomla! Framework 2020</p>
            </div>

        </div>

        <script src="{{ uri.base.path }}assets/js/jquery.min.js"></script>
        <script src="{{ uri.base.path }}assets/js/bootstrap.min.js"></script>
    </body>
</html>
